@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "LiberationMono";
        src: url("/assets/fonts/LiberationMono-Regular.ttf") format("opentype");
    }

    html {
        --color-fill: 18, 18, 18;
        --color-accent: 109, 168, 238;
        --color-text-base: 190, 190, 190;
    }

    body {
        @apply flex flex-col text-skin-base bg-skin-fill min-h-screen;
    }

    main {
        @apply break-normal m-auto;
        width: 90%;
        max-width: 53rem;
    }

    a {
        @apply hover:!text-skin-accent;
    }

    p {
        @apply leading-7;
    }

    p, li {
        @apply text-[0.969rem];
    }

    .prose {
        @apply
            /* Text size */
            prose-blockquote:text-sm

            /* Text color */
            prose-p:!text-skin-base
            prose-ol:!text-skin-base
            prose-ul:!text-skin-base
            prose-code:!text-skin-base/90
            prose-headings:!text-skin-base

            /* Text accent color */
            prose-li:marker:!text-skin-accent
            prose-blockquote:!border-l-skin-accent

            /* Image */
            prose-img:mx-auto

            /* Heading */
            prose-headings:pb-1

            /* Code Line */
            prose-code:px-1
            prose-code:rounded-sm
            prose-code:bg-[#000000]
            prose-code:after:!content-none
            prose-code:before:!content-none

            /* Blockquote */
            prose-blockquote:opacity-80;
    }

    .prose a {
        @apply text-skin-base;
    }

    .prose kbd {
        @apply text-skin-base;
    }

    .prose thead {
        @apply text-skin-base;
    }

    .prose tbody {
        @apply text-skin-base;
    }

    .prose summary {
        @apply text-skin-base cursor-pointer;
    }

    .prose strong, .prose strong a {
        @apply text-white/80;
    }

    .prose #footnote-label {
        @apply text-base;
    }

    .prose h3, .prose h4, .prose h5, .prose h6 {
        @apply hover:underline hover:!text-skin-accent cursor-pointer;
    }
}
