---
// Layouts
import Layout from "./Layout.astro";
---

<Layout title="About">
    <main>
        <h2 class="text-2xl font-semibold pb-4">About</h2>

        <article class="prose max-w-full">
            <slot/>
        </article>
    </main>
</Layout>
